.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #fafafa, #eaeaea);
  color: #444444;
  padding: var(--padding-large);
  text-align: left;
}

.hero-content {
  flex-basis: 60%;
  max-width: 70%;
  min-width: 400px;
  padding-left: 5%;
}

.hero-image img {
  width: 100%;
  max-width: 360px;
  margin-top: 10px;
  opacity: 0; 
  animation: fadeIn 4s ease-in forwards; 
}

/* Animación */
@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1;
  }
}

/* Responsive para Hero */
@media (max-width: 767px) {
  .hero {
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }

  .hero-content {
    max-width: 100%;
    text-align: center;
  }

  .hero-image img {
    width: 80%;
  }
}
