/* Contenedor principal */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la altura */
}

/* Contenedor principal de la app */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Contenido principal */
.main-content {
  flex-grow: 1; /* Empuja el footer hacia abajo */
  display: flex;
  flex-direction: column;
}

/* Footer */
.footer {
  background-color: #3e4ae9;
  color: white;
  text-align: center;
  width: 100%;
  font-size: 0.55rem;
  line-height: 1.1;
  padding-bottom: 10px;
  margin-top: auto; /* Lo empuja al final del layout */
}
