
html, body {
  height: 500%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}

/* Contenedor principal */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Asegura que ocupe toda la altura */
}

/* Contenedor de contenido */
/* Contenedor principal */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 50px); /* ✅ Ajuste sin deformar diseño */
  justify-content: space-between; /* ✅ Asegura que el footer quede abajo */
}

/* Contenido principal */
.main-content {
  flex-grow: 1; /* ✅ Empuja el footer sin deformar */
  display: flex;
  flex-direction: column;
}

/* Footer fijo */
.footer {
  background-color: #3e4ae9;
  color: white;
  text-align: center;
  
  width: 100%;
  position: absolute; /* Lo fija en la parte inferior */
  bottom: 0;
  left: 0;
  font-size: 0.55rem;
  line-height: 1.1;
}
