/* Reset y estilos globales */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; /* ✅ Evita scroll horizontal */
  overflow-y: auto; /* ✅ Permite desplazamiento si hay más contenido */
 
}
/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 10px 10px;
  padding:  20px 20px;
}

/* Estilos generales de imágenes */
img {
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 425px) {
  .container {
    background: #4a58f0;
    padding: 0 10px; /* ✅ Agrega padding lateral en móviles */
  }
}
